body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#showsection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

#showlist{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.show{
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 5%;
    padding: 1%;;
}

.movieScladeOnMouseOver:hover{
    transform: scale(1.05);
    cursor: pointer;
}




